<div class="container">
    <div class="has-text-right">
        {{#if user}}
        <a href="/logout" id="isLoggedIn" onclick="return confirm('Are you sure you want to logout?')"
            class="has-text-white"><i class="fa fa-user-alt"></i>{{user.nickname}}</a>
        {{else}}
        <a href="/login" class="has-text-white"><i class="fa fa-sign-in-alt"></i> Login</a> / <a href="/signup"
            class="has-text-white"><i class="fa fa-user-plus"></i> Sign Ups</a>
        {{/if}}
    </div>
    <div class="row center">
        <div class="col-md-12 title">
            <h2><strong>Representative Look Up</strong></h2>
        </div>
    </div>
    <div class="row center search-row">
        <div class="col-md-12">
            <img class="lookupLogo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Reverse_of_the_Seal_of_Texas.svg/300px-Reverse_of_the_Seal_of_Texas.svg.png"
                , alt="Reverse of the Seal of Texas">
            <label id="zipLabel">Zip Code: </label><input type="Text" class="input" id="zip"></input>
            <button class="button" id="searchBtn">Search</button>
            <img class="lookupLogo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Great_Seal_of_the_United_States_%28obverse%29.svg/800px-Great_Seal_of_the_United_States_%28obverse%29.svg.png"
                , alt="Great Seal of the United States">
        </div>
    </div>
    <!-- <div class="row"> -->
    <div class="columns is-centered">
        <div class="card-content column is-half">
            <div class="content">
                <ul>
                    <li> A simple way to view representatives, local and federal.</li>
                    <li> View comments left by members of the community.</li>
                    {{!-- <br />
                    <time id="time">{time}</time> --}}
                </ul>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <div class="columns">
    </div>
</div>
<div class="modal">
    <div class="modal-background close-modal"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete close-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">

            <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success close-modal" id="saveBtn">Save changes</button>
            <button class="button close-modal">Cancel</button>
        </footer>
    </div>
</div>

<!-- Custom Script -->
<script src="js/home.js" type="text/javascript"></script>