form.signup,
form.login {
  margin-top: 50px;
}

.center {
  text-align: center;
}

input {
  width: 20%;
}

.input {
  width: 20%;
  margin-top: 2%;
}

button {
  margin-left: 10px;
}

.search {
  margin-top: 20px;
}

#searchBtn {
  margin-top: 2%;
}

.searchBtn {
  position: absolute;
}

.split {
  border: grey;
  border-style: solid;
  border-radius: 2px;
  width: 1px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50%;
}

.loginpanel {
  margin-top: 10%;
}

.title {
  font-size: xx-large;
  color: black;
  margin-top: 2%;
}

body {
  background: #009FE1;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin: 2%;
}

html {
  background: ghostwhite;
}

.navbar {
  background: ghostwhite;
}

.col-sm-3 {
  margin-bottom: 15px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}
.column {
  margin: auto;
}

img {
  width: 100%;
  height: auto;
}

textarea {
  width: 100%;
  height: 200px;
}

.sealLogo {
  width: 7%;
  height: auto;
  margin-block-end: -2%;
}

.starLogo {
  width: 2%;
  height: auto;
  margin-right: 3%;
}

#firstStar {
  margin-right: 5%;
}

#lastStar {
  margin-left: 5%;
}


#zipLabel {
  margin-left: 2%;
}

#searchBtn {
  margin-right: 2%;
}

canvas {
  background: #009FE1;
  display: block;
}

.card-content {
  background: ghostwhite;
  border-radius: 5px;
}

.search-row {
  margin: 3%;
  margin-top: 1%;
}

.comment {
  width: 100%;
  background-color: ghostwhite;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card {
  border-style: solid;
  border-color: maroon;
  border-width: 2px;
  padding: 0%;
  margin: 2%;
}

#searchBtn:hover {
  background: navy;
  color: white;
}

#welcomeCard {
  margin-top: 10%;
}

.modal-card-head {
  background: #009FE1;
  font-weight: bold;
}

@media screen and (max-width: 925px) {
  img.starLogo{
    display:none;
  }
}

li {
  font-size: x-large;
}
